demo/classbuilder/demo/report/impl/report.dtd

<!ELEMENT report (text|value|br|subreport|image)*>

<!ELEMENT subreport (text|value|br|subreport|image)*>
<!ATTLIST subreport
	value	CDATA	#REQUIRED
	name	CDATA	#IMPLIED
>

<!ELEMENT text (#PCDATA)>
<!ATTLIST text
	left	CDATA	#IMPLIED
>

<!ELEMENT value EMPTY>
<!ATTLIST value
	name	CDATA	#REQUIRED
	left	CDATA	#IMPLIED
>

<!ELEMENT image EMPTY>
<!ATTLIST image
	name	CDATA	#REQUIRED
	left	CDATA	#IMPLIED
>

<!ELEMENT br EMPTY>
